section {
    display: block;
    position: relative;
    margin: 2% 0;
}
.sport1 {
    color: rgb(75, 145, 236);
    text-decoration: underline red;
    font-size: 30px;
    text-align: center;
    padding-top: 2%;
    padding-left: 3%;
    margin-bottom: 30px;
}
.sport2 {
    color: yellow;
    font-size: 20px;
    text-align: center;
}
.brsport {
    line-height: 2em;
}
.sport3 {
    text-align: center;
    font-size: 15px;
    color: rgb(83, 228, 83);
}
.sportp {
    color: #eceef1;
    font-size: 12px;
    text-align: center;
}
.subtitle {
    margin-top: 1em;
    font-size: 20px;
    color: red;
    text-align: center;
}
.brsport1 {
    line-height: 1em;
}
#graph {
    width: 600px;
    height: 371px;
    margin-left: 25%;
}


/*Responsive*/

@media only screen and (max-width:800px){
    section {
        margin: 0 0;
    }
    .sport1 {
        font-size: 25px;
        padding-top: 2%;
        padding-left: 3%;
        margin-bottom: 30px;
    }
    .sport2 {
        font-size: 15px;
    }
    .brsport {
        line-height: 2em;
    }
    .sport3 {
        font-size: 13.5px;
    }  
    .sportp {
        font-size: 11px;
    }
    .subtitle {
        margin-top: 1em;
        font-size: 20px;
    }
    .brsport1 {
        line-height: 1em;
    }
    #iframe {
        width: 75px;
        height: 37.5px;
        margin-left: 10%;
        margin-bottom: 45%;
    }
}